:root{
    --background-color: #F7F8FA;
    --cards: #FFFFFF;
    --text-color: #3D4152;

    /*Common Colors*/
    --indigo: #5C6BC0;
    --indigo-light: #7986CB;
    --indigo-tint: #E8EAF6;
    --accent-coral: #FF7043;

    /*Status Colors*/
    --done: #4CAF50;
    --in-progress: #FFA726;
    --high-priorty: #EF5350;
    --cancelled: #90A4AE;
}

:root.dark{
    --background-color: #1C1F2E;
    --cards: #3D4152;
    --text-color: #F7F8FA;
}